.default-text { color: #d3d3d3; }
.foreground-light { color: #525252; }
.background-light { color: #525252; }
.foreground-medium { color: #414141; }
.background-medium { color: #414141; }
.foreground-dark { color: #313131; }
.background-dark { color: #313131; }
.foreground-highlight { color: #ca3e47; }
.background-highlight { color: #ca3e47; }
