#window {
  height: 100%;
}

#window-title-bar {
  -webkit-app-region: drag;
  user-select: none;
  display: flex;
  height: 32px;
}

#window-title {
  display: flex;
  flex: 1 0 auto;
  order: 1;
  align-content: center;
}

#window.windows #window-title,
#window.linux #window-title {
  justify-content: start;
}

#window.macos #window-title {
  justify-content: center;
}

#window-controls {
  display: flex;
  order: 2;
}

#window-controls button {
  -webkit-app-region: no-drag;
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 32px;
  font-family: 'Segoe MDL2 Assets', sans-serif;
  font-size: 10px;
  border: 0;
  border-radius: 0;
}

#window-controls button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls button:active {
  background: rgba(255,255,255,0.2);
}

#minimize-button {
  order: 1;
}

#maximize-button,
#restore-button {
  order: 2;
}

#restore-button {
  display: none !important;
}

#window.maximized #maximize-button {
  display: none !important;
}

#window.maximized #restore-button {
  display: flex !important;
}

#close-button {
  order: 3;
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}

#window-content {
  display: block;
  height: calc(100% - 32px);
}
